*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color : black;
    font-weight: 400;
    font-family: NanumGothic, sans-serif;
    line-height: 130%;
    /*background-color: #b4c8b5;*/

}
@media screen and (min-width: 2101px){
    .gnb{
        top: 45%;
    }
    .gnb a{
        display: block;
        font-size: 40px;
        margin: 30px 0;
        color: #244400;
        transition: 0.5s;
    }
    .page{
        height: 100vh;
        padding : 20px;
    }

}

@media screen and (min-width: 1281px) and (max-width: 2100px){
    .gnb{
        top:40%;
    }
    .gnb a{
        display: block;
        font-size: 30px;
        margin: 25px 0;
        color: #244400;
        transition: 0.5s;
    }
    .page{
        height: 100vh;
        padding : 20px;
    }

}
@media screen and (min-width: 721px) and (max-width: 1280px){
    .gnb{
        top:30%;
    }
    .gnb a{
        display: block;
        font-size: 20px;
        margin: 20px 0;
        color: #244400;
        transition: 0.5s;
    }
    .page{
        height: 70vh;
        padding : 16px;
    }

}

@media screen and (max-width: 720px){
    .gnb{
        top:20%;
    }
    .gnb a{
        display: block;
        font-size: 10px;
        margin: 15px 0;
        color: #244400;
        transition: 0.5s;
    }
    .page{
        height: 50vh;
        padding : 12px;
    }

}

div{
    width: 100%;
}


.body{
    width: 95%;
    height: 1500px;
}

.left {
    position: fixed;
    width: 25%;
    height: 100vh;
    float: left;
    box-sizing: border-box;
    background: #F0D3A7;
  }

.right {
    width: 75%;
    float: right;
    box-sizing: border-box;
    padding: 5%;
  }

.gnb {
    position: absolute;
    text-align: center;
    margin-top: 3%;
  }
.gnb a {
    display: block;
    color: #244400;
    transition: 0.5s;
  }
  .gnb:hover a {
    opacity: 0.3;
  }
  .gnb a:hover {
    opacity: 1;
  }
  .gnb a:hover:before {
    opacity: 1;
  }


.profileimg{
    border-radius: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

.rightbody{
    margin : 5%;
}
.intro{
    font-size: 4vw;
}
.intro p{
    margin-top: 3%;
}

.about{
    font-size: 1.3vw;
}
.abouttitle{
    font-size: 1.6vw;
    font-weight: 600; 
    margin-bottom: 10px;
}
.about p{
    line-height: 150%;
}
#title{
    font-weight: 600;
    font-size: 3vw;
    margin-bottom: 3%;
}

.date {
    color: grey;
    font-size: 1.1vw;
}
.container {
    display: flex; /* 플렉스 박스를 사용하여 자식 요소를 가로로 나란히 배치 */
    align-items: center; /* 수직 가운데 정렬 */
  }
.container img {
    margin-right: 10px; /* 이미지와 텍스트 사이의 간격 조절 (조절 가능) */
  }