*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color : black;
    line-height: 1.5em;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    /*background-color: #b4c8b5;*/
}
body{
    background-image: url('back.png');
}

.header{
    height: 145px; 
    text-align: center;

}

.header_logo h1{
    font : bold 40px 'arial';
    padding-top:50px;
    letter-spacing: 2px;
}
.header_logo p{
    font :bold 12px 'arial';
    letter-spacing: 5px;
}

.menu{
    position: absolute;
    top: 450px;
    transform: translateY(-30%);
    left: 100px;
    display: flex;
    text-align: left;
}
.menu a {
    display: block;
    font-size: 40px;
    margin: 30px 0;
    color: #fff;
    transition: 0.5s;
  }
  .menu:hover a {
    opacity: 0.3;
  }
  .menu a:hover {
    opacity: 1;
  }
  .menu a:before {
    content: '\f105';
    font-family: fontawesome;
    margin-right: 10px;
    opacity: 0;
  }
  .menu a:hover:before {
    opacity: 1;
  }


/*a{
    text-decoration: none;
    color:#000;
}

.menubar{
    background-color: #777;
    overflow: auto;
}

.menubar a{
    padding:12px;
    display:inline-block;
    font-size: 18px;
    float: left;
}

.menubar a:hover{
    background-color: black;
}*/